/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --color-green:#06a816;
    --color-orange:#E75D02;
    --color-black:#000000;
    --color-white:#ffffff;

    --font-heading: 'Irish Grover', cursive;
    --font-body: 'Habibi', serif; 
    --shadow: 2px 2px 4px var(--color-black)
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    font-family: var(--font-body);
    font-size: 1.25em;
    line-height: 1.6;
    color: var(--color-black);
    background-color: var(--color-white);
}

/*--- Header styles ---*/
header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-green);
    padding: 0 10px 20px;
    text-align: center;
    position: relative;
}

h1 {
    font-family: var(--font-heading);
    font-size: 2.5em;
    color: var(--color-white);
    text-shadow: var(--shadow);
    margin: 0;
}

h1 + p {
    font-family: var(--font-body);
    font-style: italic;
    color: var(--color-white);
    font-size: 1.25em;
    margin: 5px 0 0;
}

/*--- Navigation styles ---*/
nav {
    position: relative;
    display: grid;
    grid-template-columns: 0fr 1fr;
}

nav h2 {
    overflow: hidden;
    white-space: nowrap;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

nav a {
    font-family: var(--font-body);
    font-size: 1.25em;
    display: inline-block;
    background-color: var(--color-orange);
    color: var(--color-white);
    text-decoration: none;
    padding: 15px 10px;
    text-align: center;
    border: 1px solid var(--color-white);
    border-radius: 7px;
    margin: 5px 10px;
    width: 100%;
    max-width: 300px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    height:auto;
    margin: 0;
}

/*--- Main styles ---*/
main {
    padding: 0 20px;
}

h2 {
    font-family: var(--font-heading);
    font-size: 1.75em;
    margin-bottom: 10px;
}

h3 {
    font-family: var(--font-heading);
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 10px;
}

figure {
    position: relative;
    display: inline-block;
    margin: 10px;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    position: absolute;
    bottom: 40%;
    top: 42%;
    left: 25%;
    width: 55%;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color-white);
    text-align: center;
    padding: 5px;
    font-size: 1.25em;
}

/*--- Footer styles ---*/
footer {
    color: var(--color-white);
    background-color: var(--color-green);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

footer h2, footer address, footer #hours {
    margin-bottom: 20px;
}

footer dl {
    margin: 0;
    padding: 0;
}

footer dt, footer dd {
    display: inline;
}

footer dd {
    margin-left: 5px;
}

footer p small {
    color: var(--color-green);
    background-color: var(--color-white);
    display: block;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:834px) {
    header {
        align-items: flex-start;
    }
    
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    nav a {
        padding: 15px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width:1280px) {
    header {
        display: flex;
    }

    nav {
        position: absolute;
        top: 10px;
        right: 20px;
        margin-top: 0;
        
    }

    nav a {
        padding: 10px 15px;
        margin: 0 5px;
    } 

    footer {
        display: grid;
        grid-template-columns: auto 1fr auto 1fr;
        gap: 20px;
    }

    footer address {
        grid-column: 2;
    }
    
    footer #hours dl {
        grid-column: 4;
    }
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width:1440px) {
    main {
        max-width: 1440px;
        margin: 0 auto;
    }

    nav a {
        padding: 10px 15px;
        margin: 0 5px;
    }
}