/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --color-green:#06a816;
    --color-orange:#E75D02;
    --color-black:#000000;
    --color-white:#ffffff;

    --font-heading: 'Irish Grover', cursive;
    --font-body: 'Habibi', serif; 
    --shadow: 2px 2px 4px var(--color-black)
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    font-family: var(--font-body);
    font-size: 1.25em;
    line-height: 1.6;
    color: var(--color-black);
    background-color: var(--color-white);
}

/*--- Header styles ---*/
header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-green);
    padding: 0 10px 20px;
    text-align: center;
    position: relative;
}

h1 {
    font-family: var(--font-heading);
    font-size: 2.5em;
    color: var(--color-white);
    text-shadow: var(--shadow);
    margin: 0;
}

h1 + p {
    font-family: var(--font-body);
    font-style: italic;
    color: var(--color-white);
    font-size: 1.25em;
    margin: 5px 0 0;
}

/*--- Navigation styles ---*/
nav {
    position: relative;
}
nav ul {
    list-style: none;
    padding: 20px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
}

nav a {
    font-family: var(--font-body);
    font-size: 1.25em;
    display: inline-block;
    background-color: var(--color-orange);
    color: var(--color-white);
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color-white);
    border-radius: 7px;
    margin: 10px 30px;
    width: 400px;
    height: 60px;
}

/*--- Main styles ---*/
main {
    padding: 0 20px;
}

h2 {
    font-family: var(--font-heading);
    font-size: 1.75em;
    margin-bottom: 10px;
}

h3 {
    font-family: var(--font-heading);
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 10px;
}



figure {
    position: relative;
    display: inline-block;
    margin: 0;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    position: absolute;
    bottom: 40%;
    top: 42%;
    left: 25%;
    width: 55%;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color-white);
    text-align: center;
    padding: 5px;
    font-size: 1.25em;
}

#contact, #hours {
    color: var(--color-white);
    background-color: var(--color-green);
    list-style-type: none;
    padding: 15px;
    margin-bottom: 20px;
}

/*--- Footer styles ---*/
footer p small {
    color: var(--color-green);
    background-color: var(--color-white);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 15px 10px;
    border: 2px solid var(--color-white);
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 1.25em;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:834px) {
    header {
        align-items: flex-start;
    }
    
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width:1280px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        position: absolute;
        top: -3%;
        right: 20px;
        margin-top: 0;
        
    }

    nav ul {
        flex-direction: row;
    }
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width:1440px) {
    main {
        max-width: 1440px;
    }
}